<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5">
                <div class="col-md-8 col-lg-7 col-xl-6 m-auto text-center">
                    <img src="assets/images/logo.png" style="max-width: 70%" class="img-fluid" alt="Phone image">
                    <p style="font-weight: bold;">NAGALAND UNIVERSITY </p>
                    <p style="font-weight: bold;">Medziphema campu</p>
                    <p style="font-weight: bold;">THESIS FOR M.Sc & Ph.D</p>
                </div>
                <form>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form1Example13">Email address</label>
                        <input type="email" id="form1Example13" class="form-control form-control-lg" />
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form1Example23">Password</label>
                        <input type="password" id="form1Example23" class="form-control form-control-lg" />
                    </div>
                    

                    <!-- Submit button -->
                    <div class="m-auto text-center">
                        <button type="button" (click)="signIn()" class="btn btn-primary btn-lg btn-block">Sign in</button>
                    </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>